	<table class="detail" cellspacing="1" cellpadding="5">
		<if condition="!empty($info['img'])">
		<tr>
			<td colspan="2"><a href="{$info.img}" target="_blank" title="点击查看大图"><img src="{$info.img}" width="239" /></a></td>
		</tr>
		</if>
		<tr>
			<td style="width:80px;">编号</td>
			<td>{$info.id}</td>
		</tr>
		<tr>
			<td>区域</td>
			<td>{$info.area1}</td>
		</tr>
		<tr>
			<td>类别</td>
			<td>{$info.area2}</td>
		</tr>
		<tr>
			<td>街</td>
			<td><if condition="$info['area4'] eq ''"><else />{$info.area3}</if></td>
		</tr>
		<tr>
			<td>道路</td>
			<td><if condition="$info['area4'] eq ''">{$info.area3}<else />{$info.area4}</if></td>
		</tr>
		<tr>
			<td>详细描述</td>
			<td>{$info.des}</td>
		</tr>
		<tr>
			<td>指标代码</td>
			<td>{$info.target_code}</td>
		</tr>
		<tr>
			<td>一级指标</td>
			<td>{$info.target1}</td>
		</tr>
		<tr>
			<td>二级指标</td>
			<td>{$info.target2}</td>
		</tr>
		<tr>
			<td>三级指标</td>
			<td>{$info.target3}</td>
		</tr>
		<tr>
			<td>计数</td>
			<td>{$info.weight}</td>
		</tr>
		<tr>
			<td>检查日期</td>
			<td>{$info.date}</td>
		</tr>
		<tr>
			<td>检查时间</td>
			<td>{$info.time}</td>
		</tr>
		<tr>
			<td>状态</td>
			<td>{$info.status_name}</td>
		</tr>
		<if condition="in_array($info['status_id'], array(3,12))">
		<tr>
			<td>过期时间</td>
			<td>{$info.end_date}</td>
		</tr>
		{/if}
		<if condition="$current_user['user_type_id'] lt 20">
		<tr>
			<td>发现人</td>
			<td>{$info.checker}</td>
		</tr>
		<tr>
			<td>录入员</td>
			<td>{$info.username}</td>
		</tr>
		<tr>
			<td>最后修改用户</td>
			<td>{$info.last_mod_user}</td>
		</tr>
		</if>
		<tr>
			<td>位置信息</td>
			<td>
				经度：{$info.lng}<br />
				纬度：{$info.lat}
			</td>
		</tr>
		<tr>
			<td>最后回复用户</td>
			<td>{$info.last_mod_user2}</td>
		</tr>
		<!--
		<tr>
			<td>来源</td>
			<td>{$info.come_from}</td>
		</tr>-->
		
	</table>
	<br />
	<div style="text-align:right;">
	<if condition="!empty($can_edit)">
	<a class="button" href="javascript:void();" onclick="window.location.href='__CONTROLLER__/edit/id/{$info.id}/status/'+status;">编辑</a>
	</if>
	<a class="button" href="__CONTROLLER__/doprint/id/{$info.id}" target="_blank">打印</a>
	</div>