	<table class="detail" cellspacing="1" cellpadding="5">
		<if condition="!empty($info['img'])">
		<tr>
			<td colspan="2"><a href="{$info.img}" target="_blank" title="点击查看大图"><img src="{$info.img}" width="239" /></a></td>
		</tr>
		</if>
		<tr>
			<td style="width:80px;">编号</td>
			<td>{$info.id}</td>
		</tr>
		<tr>
			<td>区域街道</td>
			<td>{$info.area_text}</td>
		</tr>
		<tr>
			<td>指标代码</td>
			<td>{$info.target_code}</td>
		</tr>
		<tr>
			<td>指标名称</td>
			<td>{$info.target_text}</td>
		</tr>
		<tr>
			<td>计数</td>
			<td>{$info.weight}</td>
		</tr>
		<tr>
			<td>标题</td>
			<td>{$info.title}</td>
		</tr>
		<tr>
			<td>录入员</td>
			<td>{$info.username}</td>
		</tr>
		<tr>
			<td>发现人</td>
			<td>{$info.checker}</td>
		</tr>
		<tr>
			<td>检查日期</td>
			<td>{$info.date}</td>
		</tr>
		<tr>
			<td>状态</td>
			<td>{$info.status_name}</td>
		</tr>
		<tr>
			<td>来源</td>
			<td>{$info.come_from}</td>
		</tr>
		<tr>
			<td>详细描述</td>
			<td>{$info.des}</td>
		</tr>
	</table>
	<br />
	<div style="text-align:right;">
	<if condition="!empty($can_edit)">
	<a class="button" href="__CONTROLLER__/edit/id/{$info.id}">编辑</a>
	</if>
	<a class="button" href="__CONTROLLER__/doprint/id/{$info.id}" target="_blank">打印</a>
	</div>