<include file="Common/header" />
		<div class="box">
			<div class="content" style="width:715px">
				<table class="form">
					<tbody><tr>
					  <td align="right">检查日期：
						从<input type="text" size="16" id="filter_date_start" value="" name="filter_date_start" class="easyui-datebox"> 到 
						<input type="text" size="16" id="filter_date_end" value="" name="filter_date_end" class="easyui-datebox"></td>
					  <td align="right">
					  关键字：<input type="text" id="keywords" placeholder="编号，区域，类别，备注" value="" /></td>
					  <td>
					  <a id="btn_search" class="button">搜索</a> 
					  </td>
					</tr>
				  </tbody>
				 </table>
				 <div class="tab">
					 <ul>
						<volist name="tabs" id="vo">
						<li <if condition="$status eq $vo['st']">class="selected"</if>><a href="{$self_url}/st/{$vo.st}">{$vo.name}</a></li>
						</volist>
						<!--
						<li <eq name="status" value="1">class="selected"</eq>><a href="{$self_url}/st/1">待审核</a></li>
						<li <eq name="status" value="2">class="selected"</eq>><a href="{$self_url}/st/2">未通过</a></li>
						<li <eq name="status" value="3">class="selected"</eq>><a href="{$self_url}/st/3">通过</a></li>
						<li <eq name="status" value="4">class="selected"</eq>><a href="{$self_url}/st/4">已处理</a></li>
						<li <eq name="status" value="21">class="selected"</eq>><a href="{$self_url}/st/21">超时</a></li>
						<li <eq name="status" value="22">class="selected"</eq>><a href="{$self_url}/st/22">重点问题</a></li>
						<li <eq name="status" value="9">class="selected"</eq>><a href="{$self_url}/st/9">同意无法处理</a></li>-->
					 </ul>
				 </div>
				 
				<table id="tb" style="width:710px;min-height:400px;">
				</table>
				
				<table class="form" style="margin:15px 0 10px;">
					<tbody>
					<tr>
						<td></td>
						<td align="right">
							<a class="button" onclick="doExport('default');">导出问题</a> 
							<a class="button" onclick="doExport('with_img');">带图片导出</a> 
							<a class="button" onclick="doExport('only_img');">导出图片</a> 
							<a class="button" onclick="doSummaryExport();">导出汇总</a>
						</td>
					</tr>
				  </tbody>
				 </table>
			</div>
			
			<div class="content" style="width:281px;margin-left:4px;padding:0;height:545px;">
			    <div id="aa" class="easyui-accordion" fit="true">
					<div id="issue_detail" title="问题详情" data-options="selected:true" style="overflow:auto;padding:10px;">
						
					</div>
					<div id="issue_reply" title="问题回复" data-options="" style="padding:10px;">
						
					</div>
					<div title="地图位置">
						
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var status = "{$status}";
			var toolbar = [];
			
			<if condition="isset($tools['pass'])">
			toolbar.push({
				text:'通过',
				iconCls:'icon-ok',
				handler:function(){ doCheck('pass'); }
			});
			</if>
			
			<if condition="isset($tools['nopass'])">
			toolbar.push({
				text:'不通过',
				iconCls:'icon-no',
				handler:function(){ doCheck('nopass'); }
			});
			</if>
		</script>
		<script type="text/javascript">	
			$(function() {
				$("#btn_search").click(function() {
					var start_date = $("#filter_date_start").datebox("getValue");
					var end_date = $("#filter_date_end").datebox("getValue");
					var keywords = $("#keywords").val();
					var params = {status: status};
					if (start_date != "") params.start_date = start_date;
					if (end_date != "") params.end_date = end_date;
					if (keywords != "") params.keywords = keywords;
					
					$("#tb").datagrid("load", params);
				});
			});
			
			$("#tb").datagrid({
				url: ROOT + '/Issue/jsondata',
				fit: false,
				border: false,
				striped: true,
				//sortName: 'id',
				//sortOrder: 'asc',
				pagination: true,
				pagePosition: 'bottom',
				pageSize: 20,
				singleSelect: false,
				checkOnSelect: true,
				pageList: [20, 40, 60, 80],
				queryParams: {status: status},
				//fitColumns: true,
				toolbar: toolbar,
				columns:[[
					{field:'aid',title:'', checkbox:true},
					{field:'id',title:'编号', width:50},
					{field:'area1',title:'区域',width:80},
					{field:'title',title:'标题',width:310},
					{field:'date',title:'检查日期',width:80},
					{field:'time',title:'检查时间',width:80},
					{field:'weight',title:'计数',width:80}
				]],
				onLoadError: function(data) {
					alert(data.responseText);
				},
				onClickRow: function(index, row) {
					detail(row.id);
				}
			});
			
			function detail(id) {
				var data = {id: id, from: 'list_page'};
				$.ajax({
					url: ROOT + "/Issue/detail",
					type: "post",
					data: data,
					dataType: 'json',
					success: function(res) {
						$("#issue_detail").html(res.detail);
						$("#issue_reply").html(res.reply);
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
			
			function doCheck(mode) {
				var rows = $("#tb").datagrid('getChecked');
				if(rows.length == 0) {
					alert('请选择要操作的记录');
					return false;
				}
				var ids = [];
				for(var i=0; i<rows.length; i++) {
					ids.push(rows[i].id);
				}
				var params = {
					ids: ids.join(),
					mode: mode
				};
				$.ajax({
					url: ROOT + "/Issue/doCheck",
					type: "post",
					data: params,
					dataType: 'json',
					success: function(res) {
						if (res["status"]) {
							$("#btn_search").click();
						}else {
							alert('操作失败');
						}
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
			
			function getExportFilter() {
				var url = '/status/' + status;
	
				var filter_date_start = $("#filter_date_start").datebox("getValue");
				if (filter_date_start) {
					url += '/filter_date_start/' + encodeURIComponent(filter_date_start);
				}

				var filter_date_end = $("#filter_date_end").datebox("getValue");
				if (filter_date_end) {
					url += '/filter_date_end/' + encodeURIComponent(filter_date_end);
				}
				
				return url;
			}
			function doExport(mode) {
				url = ROOT + '/Issue/export/mode/' + mode;
				url += getExportFilter();
				window.open(url);
			}
		</script>
<include file="Common/footer" />