	<table class="detail" cellspacing="1" cellpadding="5" width="259">
		<volist name="reply_list" id="vo">
		<tr>
			<td align="right" style="background:#fff;">{$vo.username}于{$vo.create_time}</td>
		</tr>
		<tr>
			<td>{$vo.text}</td>
		</tr>
		</volist>
		
	</table>
	<br />
	<div>附件：</div>
	<table class="detail" cellspacing="1" cellpadding="5" width="259">
		<volist name="attachment_list" id="vo">
		<!--<tr>
			<td align="right">{$vo.username}上传于{$vo.create_time}</td>
		</tr>-->
		<tr>
			<td><a href="{$vo.path}" target="_blank">{$vo.fname}</a></td>
			<td style="width:50px"><a href="{$vo.path}" target="_blank">查看</a></td>
		</tr>
		</volist>
		
	</table>
	<br />
	<if condition="$can_reply eq true">
	<form id="replyForm" method="post" enctype="multipart/form-data" action="__CONTROLLER__/reply" target="replyFormTarget">
	<input type="hidden" name="id" value="{$info.id}" />
	<table class="detail" cellspacing="1" cellpadding="5" width="259">
		<if condition="$status_operations['code'] lt 3">
		<tr>
			<td>操作</td>
			<td>
				<select name="operation_id">
					<option value="0">--请选择--</option>
					<volist name="status_operations['data']" id="vo">
					<option value="{$vo.operation_id}">{$vo.name}</option>
					</volist>
				</select>
			</td>
		</tr>
		</if>
		<tr>
			<td>回复</td>
			<td><textarea name="reply_text" rows="3" cols="30"></textarea></td>
		</tr>
		<tr>
			<td>附件</td>
			<td><input type="file" name="attachment" /></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><a class="button" onclick="$('#replyForm').submit();">提交</a></td>
		</tr>
	</table>
	</form>
	<iframe name="replyFormTarget" width="0" height="0" frameborder="no"></iframe>
	</if>