html {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #FFFFFF;
}
body, td, th, input, select, textarea, option, optgroup {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

ul, li, dl, dt, dd {
    list-style: outside none none;
}

input[type='text'], input[type='password'] {
	padding: 2px;
}
select {
	padding: 1px;
}
textarea {
	padding: 2px;
}
a, a:visited {
	color: #003366;
	text-decoration: none;
	cursor: pointer;
}
a img {
	border: 0;
}
form {
	margin: 0;
	padding: 0;
}
label {
	cursor: pointer;
}
#container {
	width:1024px;
	margin:auto;
	height:100%;
}
#top {
	height: 30px;
	/*margin-top:10px;*/
	font-size: 13px;
	background: url("../image/05.jpg");
	padding-top:10px;
}
#top .top_left {
	float:left;
	/*line-height:30px;*/
}

#top .top_right {
	float: right;
	margin-right: 30px;
}

.top_cont2 {
	margin-left: 10px;
}

#header {
	height:110px;
	/*background: url("../image/header.png") no-repeat;*/
	background: url("../image/01_1.jpg");
}
.header_title {
	font-size:36px;
	color: #FFFFFF;
	margin: 0px 0 10px 50px;
	padding-top:20px;
}

.nav {
	height: 35px;
}
.nav ul li {
    border-right: 1px dotted #99999a;
    float: left;
    text-align: center;
    width: 100px;
	font-size: 14px;
	line-height:28px;
}
.nav ul li a {
    color: #e6e6e5;
}
/*
.header_content {
	float: right;
	margin: 5px 20px 5px 20px;
	width: 150px;
	height: 70px;
	text-align: center;
}*/
#content {
	min-height: 380px;
}
.main_content {
	/*background: url("../image/02.jpg") no-repeat;*/
}
.home_content {
	background: url("../image/home1024x768_2.jpg") no-repeat;
}
.home_title {
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 100px;
	padding-top: 80px;
}

#notice {
	height: 25px;
	margin-top:5px;
}
#notice div {
}

.breadcrumb {
	text-align:left;
	padding-top:15px;
	padding-bottom:5px;
	background: url("../image/04.jpg") no-repeat;
}

.box {
	/*margin-top: 5px;*/
}
.box > .content {
    border: 1px solid #cccccc;
    min-height: 300px;
    overflow: auto;
    padding: 10px;
	float:left;
	background:#eee;
}

table.form, table.form2 {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

table.form2 > tbody > tr > td:first-child {
    width: 200px;
}
table.form2 > tbody > tr > td {
    border-bottom: 1px dotted #cccccc;
    color: #000000;
    padding: 10px;
}

label.error {
	margin-left:10px;
}
.error { color: red;}

table.detail {
	background: #000;
}
table.detail tr td {
	background: #eee;
}

a.button {
    background: #003a88 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
}
a.button_gray {
    background: #999 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
}
.tab {
	/*height:30px;*/
}

.nbutton {
	-moz-transition: background-position 1s ease 0s;
    background-clip: border-box;
    background-position: left bottom, right top, 0 0px, 0 0;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 1px #FFFFFF inset;
    cursor: pointer;
    display: inline-block;
    font: 15px Calibri,Arial,sans-serif;
    padding: 2px 5px;
    position: relative;
    text-decoration: none !important;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
    vertical-align: baseline;
    white-space: nowrap;
}

.tab ul {padding:0; line-height:32px;}
.tab ul li {
    /*border-right: 1px solid #99999a;*/
    float: left;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
	padding: 0 5px;
	/*background: #2F4FCB none repeat scroll 0 0;
    border-radius: 0px;*/
	margin:0 1px 2px 0;
	
	background-color: #89A1C3; /*#48B5F2;*/
    /*background-image: -moz-radial-gradient(center bottom , circle , #59D0F4 0px, rgba(89, 208, 244, 0) 100px), -moz-linear-gradient(#4FBBF7, #3FAEEB);*/
	/*background-image: -moz-radial-gradient(center bottom , circle , #59D0F4 0px, rgba(89, 208, 244, 0) 100px), -moz-linear-gradient(#4FBBF7, #3FAEEB);*/
	/*background-image: -moz-radial-gradient(center bottom , circle , #2F4FCB 0px, rgba(47, 79, 203, 0) 100px), -moz-linear-gradient(#2530C8, #1724C2);*/
	background-image: -moz-radial-gradient(center bottom , circle , #89A1C3 0px, rgba(137, 161, 195, 0) 100px), -moz-linear-gradient(#2530C8, #1724C2);
    border: 1px solid #84ACC3 !important;
    color: #0F4B6D !important;
}

.tab ul li:hover{
	/*background-color:#63c7fe;
	background-image:	-moz-radial-gradient(	center bottom, circle,
												rgba(109,217,250,1) 0,rgba(109,217,250,0) 100px),
						-moz-linear-gradient(#63c7fe, #58bef7);
						
	background-image:	-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(109,217,250,1)), to(rgba(109,217,250,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#63c7fe), to(#58bef7));
	*/
	/*
	background-color:#4847D8;
	background-image:	-moz-radial-gradient(	center bottom, circle,
												rgba(92,100,230,1) 0,rgba(92,100,230,0) 100px),
						-moz-linear-gradient(#4847D8, #4039C5);
						
	background-image:	-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(92,100,230,1)), to(rgba(92,100,230,0))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4847D8), to(#4039C5));
	*/
	background-color:#093D86;
	background-image:	-moz-radial-gradient(	center bottom, circle,
												rgba(9,61,134,1) 0,rgba(9,61,134,0) 100px),
						-moz-linear-gradient(#093D86, #4039C5);
						
	background-image:	-webkit-gradient(	radial, 50% 100%, 0, 50% 100%, 100,
											from(rgba(9,61,134,1)), to(rgba(9,61,134,0,1))),
						-webkit-gradient(linear, 0% 0%, 0% 100%, from(#093D86), to(#4039C5));
}

.tab ul li.selected{
	/*background: #2F8DCB none repeat scroll 0 0;*/
	background-color: #A9ADB1;
    background-image: -moz-radial-gradient(center bottom , circle , #C5C7CA 0px, rgba(9,61,134, 0) 100px), -moz-linear-gradient(#C5C7CA, #92989C);
    border: 1px solid #A5A5A5 !important;
}
.tab ul li.selected:hover{
	background-color:#b6bbc0;
	background-image:-moz-radial-gradient(center bottom, circle, rgba(202,205,208,1) 0,rgba(202,205,208,0) 100px),-moz-linear-gradient(#d1d3d6, #9fa5a9);
	background-image:-webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100, from(rgba(202,205,208,1)), to(rgba(202,205,208,0))),-webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1d3d6), to(#9fa5a9));
}
.tab ul li a { color : #000 !important;}
.tab ul li:hover a { color : #FFFDDD !important;}
.tab ul li.selected a { color : #000 !important;;}

.gray {
	color:#666;
}

.searchExpand {
	display:block;
	float:right; 
	position:relative;
	width:31px;
	padding-right:14px;
	height:20px;
	line-height:20px;
	font-size:14px;
}
.arrow {
	height: 5px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 9px;
    width: 7px;
}
.arrow_up {
	background: url("../image/arrow_up.gif") no-repeat;
}
.arrow_down {
	background: url("../image/arrow_down.gif") no-repeat;
}

#footer {
	height: 30px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	clear: both;
	padding-top:10px;
	background: url("../image/03.jpg") no-repeat;
}