<include file="Common/header" />
		<div class="box">
			<div class="content" style="width:715px">
				<div class="tab" style="text-align:right;">
					 <a id="btn_export_toggle"><u>导出登录记录</u></a>
				 </div>
				<table class="form" id="export_filter" style="display:none;">
					<tbody><tr>
					  <td align="right">选择日期：
						从 <input type="text" style="width:100px;" id="filter_date_start" value="" name="filter_date_start" class="easyui-datebox"> 到 
						<input type="text" style="width:100px;" id="filter_date_end" value="" name="filter_date_end" class="easyui-datebox"></td>
					  <td>
					  <a id="btn_export_history" class="button">导出</a> 
					  </td>
					</tr>
				  </tbody>
				 </table>
				 <div class="tab">
					 <a href="__CONTROLLER__/add"><u>添加用户</u></a>
				 </div>
				<table id="user_tb" style="width:710px;min-height:400px;">
					
				</table>
			</div>
			
			<div class="content" style="width:280px;margin-left:4px;padding:0;height:480px;">
			    <div id="aa" class="easyui-accordion" fit="true">
					<div id="user_detail" title="详细信息" data-options="selected:true" style="overflow:auto;padding:10px;">
						
						
					</div>
					<div title="地图位置" style="padding:5px;">
						<div id="allmap" style="overflow:hidden;margin:0;width:265px;height:400px;"></div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=33FqAaSCIdSeYDQOVXYoV4f5"></script>
		<script type="text/javascript">
			var current_city = "{$current_city.city}";
			var pos_list = [];
			$("#user_tb").datagrid({
				url: ROOT + '/User/jsondata',
				fit: true,
				border: false,
				striped: true,
				//sortName: 'id',
				//sortOrder: 'asc',
				pagination: true,
				pagePosition: 'bottom',
				pageSize: 20,
				singleSelect: true,
				checkOnSelect: true,
				pageList: [20, 40, 60, 80],
				//fitColumns: true,
				//toolbar: "#tb",
				columns:[[
					//{field:'id',title:'id', hidden:true},
					{field:'username',title:'用户名',width:100},
					{field:'smartphone',title:'手机号码',width:100},
					{field:'city_name',title:'城市',width:110},
					{field:'user_type_name',title:'用户类型',width:105},
					{field:'last_login_time',title:'最后一次登录时间',width:150},
					{field:'id',title:'操作', width:100, align:'center',formatter:function(value,row,index){
						return "<a href='__CONTROLLER__/edit/id/" + row.id + "'>编辑</a>";
					}}
				]],
				onLoadError: function(data) {
					alert(data.responseText);
				},
				onClickRow: function(index, row) {
					var str = '<table class="detail" cellspacing="1" cellpadding="5">';
					str +=	'<tr>';
					str +=	'<td>用户名</td>';
					str +=	'<td>'+row.username+'</td>';
					str +=	'</tr>';
					str +=	'<tr>';
					str +=	'<td>手机号码</td>';
					str +=	'<td>'+row.smartphone+'</td>';
					str +=	'</tr>';
					str +=	'<tr>';
					str +=	'<td>城市</td>';
					str +=	'<td>'+row.city_name+'</td>';
					str +=	'</tr>';
					str +=	'<tr>';
					str +=	'<td>用户类型</td>';
					str +=	'<td>'+row.user_type_name+'</td>';
					str +=	'</tr>';
					str +=	'<tr>';
					str +=	'<td style="width:80px;">创建时间</td>';
					str +=	'<td>'+row.create_time+'</td>';
					str +=	'</tr>';
					str +=	'<tr>';
					str +=	'<td>最后一次登录时间</td>';
					str +=	'<td>'+(row.last_login_time || "")+'</td>';
					str +=	'</tr>';
					str +=	'<tr>';
					str +=	'<td>最后一次登录ip</td>';
					str +=	'<td>'+(row.last_login_ip || "")+'</td>';
					str +=	'</tr>';
					str +=	'</table>';
					$("#user_detail").html(str);
					
					getUserGps(row.id);
				}
			});
			
			$("#aa").accordion({
				onSelect: function(title, index) {
					if (index == 1) {
						addMap(pos_list);
					}
				}
			});
			
			function getUserGps(id) {
				var data = {id: id};
				$.ajax({
					url: ROOT + "/User/gps",
					type: "post",
					data: data,
					dataType: 'json',
					success: function(res) {
						pos_list = res;
						addMap(pos_list);
					},
					error: function(xhr, ajaxOptions, thrownError) {
						alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					}
				});
			}
			
			function addMap(pos_list) {
				// 百度地图API功能
				var map = new BMap.Map("allmap");
				
				if (pos_list.length == 0) {
					// 创建地址解析器实例
					var myGeo = new BMap.Geocoder();
					// 将地址解析结果显示在地图上,并调整地图视野
					myGeo.getPoint(current_city, function(point){
						if (point) {
							map.centerAndZoom(point, 16);
						}else{
							alert("地址没有解析到结果!");
							var point = new BMap.Point(116.404, 39.915); // Beijing
							map.centerAndZoom(point, 15);
						}
					}, current_city);
				}
				
				var points = [];
				var dataObj = {};
				if (pos_list.length > 0) {
					var opts = {
						width : 100,     // 信息窗口宽度
						height: 50,     // 信息窗口高度
						title : "时间", // 信息窗口标题
						enableMessage:true,//设置允许信息窗发送短息
						message: ""
					}
						
					for(var i=0; i<pos_list.length; i++) {
						var point = new BMap.Point(pos_list[i]['lng'], pos_list[i]['lat']);
						var marker = new BMap.Marker(point);
						dataObj['' + pos_list[i]['lng'] + '_' + pos_list[i]['lat']] = pos_list[i]['create_time'];
						marker.addEventListener("click", function(e) {
								var p = e.target;
								var k = '' + p.getPosition().lng + '_' + p.getPosition().lat;
								var text = '';
								if (dataObj[k]) text = dataObj[k];
								var infoWindow = new BMap.InfoWindow(text, opts);
								map.openInfoWindow(infoWindow, new BMap.Point(p.getPosition().lng, p.getPosition().lat)); //开启信息窗口
						});
						map.addOverlay(marker);
						points.push(point);
						
						if (i == 0) map.centerAndZoom(point, 8);
					}
					
					var polyline = new BMap.Polyline(points, {strokeColor:"blue", strokeWeight:6, strokeOpacity:0.5});
					map.addOverlay(polyline);          //增加折线
				}
			}
			
			function getExportFilter() {
				var url = '';
	
				var filter_date_start = $("#filter_date_start").datebox("getValue");
				if (filter_date_start) {
					url += '/filter_date_start/' + encodeURIComponent(filter_date_start);
				}

				var filter_date_end = $("#filter_date_end").datebox("getValue");
				if (filter_date_end) {
					url += '/filter_date_end/' + encodeURIComponent(filter_date_end);
				}
				
				return url;
			}
			function doExport(mode) {
				url = ROOT + '/Issue/export/mode/' + mode;
				url += getExportFilter();
				window.open(url);
			}
		$(function() {
			$("#btn_export_toggle").click(function() {
				if ($('#export_filter').css("display") == "none") {
					$('#export_filter').show();
				}else {
					$('#export_filter').hide();
				}
			});
			
			$("#btn_export_history").click(function() {
				url = ROOT + '/User/exportHistory';
				url += getExportFilter();
				window.open(url);
			});
		});
		</script>
<include file="Common/footer" />